version: "3.9"
services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: "airlines"
      POSTGRES_USER: "airlines"
      POSTGRES_PASSWORD: "password"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ./data/shared:/tmp/shared
      - db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airlines -d airlines"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 4G

volumes:
  db-data: